@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');
.corpo {
    display: flex;
}
.tituloEsquerda {
    padding-top: 4vw;
    color: #000;
    font-family: Roboto;
    font-size: 2.5vw;
    font-weight: 200;
}
.eolica{
    width: 24vw;
    height: auto;
}
.leftframe{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    margin-left: 0px;
    align-items: center
}
.rightframe{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50vw;
    margin-right: 0px;
    background: #25E48F;
}
.inputBox {
    margin-top: 8vw;
    background: #E9E9E9;
    display: flex;
    flex-direction: column;
    width: 64%;
    height: 32vw;
    align-items: center;
    border-radius: 2vw;
    box-shadow: #000000;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    justify-content: flex-start;
}
.titulo {
    width: 80%;
    color: #000;
    font-family: Roboto;
    font-size: 2vw;
    font-weight: 200;
}
.subtitulo {
    width: 80%;
    color: #000;
    font-family: Roboto;
    font-size: 1.5vw;
    font-weight: 200;
}
.calcular {
    width: 80%;
    height: 12%;
    border-radius: 2vw;
    margin-top: 2.5vw;
    border: none;
    background: #25E48F;
    color: #FFF;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 2vw;
    font-weight: 300;
    box-shadow: 0px 4px 0px 0px #14C275;
    transition: background-color 0.2s ease;
    transition: box-shadow 0.2s ease;
}
.calcular:active{
    background: #14C275;
    box-shadow: 0px 0px 0px 0px #ffffff;
}

.entrada{ 
    width: 80%;
    height: 3.2vw;
    border-radius: 2vw;
    margin-top: 2.5vw;
    border: none;
    outline: 2px solid #ACACAC;
    background: #E9E9E9;
    stroke-width: 2px;
    color: #616161;
    font-style: roboto;
    font-size: 1.5vw;
    padding-left: 1.5vw;
}
.entrada::placeholder {
    color: #B0B0B0;
    font-style: roboto;
    font-size: 1vw;
}
.fornecedores{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vw;
}
.nomeFornecedor{
    width: 80%;
    color: #000;
    font-family: Roboto;
    font-size: 2vw;
    font-weight: 200;
}
.tituloModal {
    width: 80%;
    color: #000;
    font-family: Roboto;
    font-size: 2vw;
    font-weight: 200;
}

.logoFornecedor{
    width: 10vw;
}
.botaoFechar {
    width: 30%;
    height: 4vw;
    border-radius: 4vw;
    border: none;
    background: #25E48F;
    color: #FFF;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 2vw;
    font-weight: 200;
    box-shadow: 0px 4px 0px 0px #14C275;
    margin-bottom: 2vw;
}
.caixaFornecedores {
    display: flex;
    flex-direction: column;
    align-items: center
}
@media screen and (max-width: 775px) {
    .eolica{
        width: 50vw;
        height: auto;
    }
    .tituloEsquerda {
        
        font-size: 4vw;
    }
    .corpo {
        display: flex;
        flex-direction: column;
    }
    .leftframe{
        display: flex;
        flex-direction: column;
        height: 50vw;
        width: 100%;
        align-items: center
    }
    .rightframe{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-right: 0px;
        background: #25E48F;
        margin-top: 36vw;
    }
    .inputBox {
        width: 72%;
        height: 90vw;
        gap: 1rem;
    }
    .titulo{ 
        font-size: 5vw;
    }
    .subtitulo{ 
        font-size: 4vw;
    }
    .entrada{ 
        font-size: 3vw;
    }
    .entrada::placeholder {
        color: #B0B0B0;
        font-style: roboto;
        font-size: 1vw;
    }
}

::-webkit-scrollbar {
    width: 16px; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: #505050; 
    border-radius: 8px; 
  }
  ::-webkit-scrollbar-track {
    background-color: #1C1C1C;
  }
  